### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [91]:
import pandas as pd
import numpy as np

In [92]:
arr = np.arange(1,7)
s1 = pd.Series(arr)
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [96]:
type(s1)
s1.tolist()

[1, 2, 3, 4, 5, 6]

### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [29]:
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

In [30]:
series1+series2 #add

0     3
1     7
2    11
3    15
4    20
dtype: int64

In [31]:
series1-series2 #subtract

0    1
1    1
2    1
3    1
4    0
dtype: int64

In [32]:
series1*series2 #multiply

0      2
1     12
2     30
3     56
4    100
dtype: int64

In [33]:
series1/series2 #divide

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

### 4. Write a Pandas program to compare the elements of the two Pandas Series.

In [36]:
print(series1==series2)
print(series1>series2)
print(series1<series2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [95]:
dic = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 80}
series3 = pd.Series(dic)
series3

a    10
b    20
c    30
d    40
e    80
dtype: int64

### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [50]:
nparry = np.array([10, 20, 30, 40, 50])
series4 = pd.Series(nparry)
series4

0    10
1    20
2    30
3    40
4    50
dtype: int32

### 7. Write a Pandas program to change the data type of given a column or a Series.

In [61]:
Mxlst = [1,2,'python', 'pandas', 3, 4, 6]
series5 = pd.Series(Mxlst)
series6 = pd.to_numeric(series5, errors='coerce')
series6

0    1.0
1    2.0
2    NaN
3    NaN
4    3.0
5    4.0
6    6.0
dtype: float64

### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [63]:
data = {'col1': [1,2,3,4,7,11], 'col2': [4,5,6,9,5,10], 'col3': [7,5,8,12,1,11]}
df = pd.DataFrame(data)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11    10    11

In [67]:
type(df['col1'])
df['col1']

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

### 9. Write a Pandas program to convert a given Series to an array.

In [72]:
print(type(np.array(series1)))
print(np.array(series1))

<class 'numpy.ndarray'>
[ 2  4  6  8 10]

### 10. Write a Pandas program to convert Series of lists to one Series.

In [97]:
dic = {0:['red', 'blue', 'green'], 1:['red', 'Black'], 2:['Yellow']}
series7 = pd.Series(dic)
series7 = series7.apply(pd.Series).stack().reset_index(drop = True)
series7

0       red
1      blue
2     green
3       red
4     Black
5    Yellow
dtype: object

In [81]:
# Single Level  
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
## Stacking a dataframe with a single level column axis returns a Series:
df_single_level_cols.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [83]:
# Multi level columns: simple case

multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[1, 2], [2, 4]],
                                    index=['cat', 'dog'],
                                    columns=multicol1)
## Stacking a dataframe with a multi-level column axis:
df_multi_level_cols1.stack()

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [85]:
# Missing values

multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df_multi_level_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                                    index=['cat', 'dog'],
                                    columns=multicol2)
## It is common to have missing values when stacking a dataframe with multi-level columns,
## as the stacked dataframe typically has more values than the original dataframe.
## Missing values are filled with NaNs:

df_multi_level_cols2.stack()

        height  weight
cat kg     NaN     1.0
    m      2.0     NaN
dog kg     NaN     3.0
    m      4.0     NaN

## 11. Write a Pandas program to sort a given Series.

In [99]:
s2 = pd.Series(['100', '200', 'python', '300.12', '400'])
s3 = pd.Series(s2).sort_values()
s3

0       100
1       200
3    300.12
4       400
2    python
dtype: object

## 12. Write a Pandas program to add some data to an existing Series.

In [101]:
s4 = s3.append(pd.Series(['500', 'php']))
s4

0       100
1       200
3    300.12
4       400
2    python
0       500
1       php
dtype: object

## 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [110]:
s5 = pd.Series(np.arange(0,11))
s5
# Subset of above series 
s6 = s5[s5<=5]
s6

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

## 14. Write a Pandas program to change the order of index of a given series.

In [112]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [113]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print(s.mean())
print(s.std())

4.818181818181818
2.522624895547565

### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [121]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
result = sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

### 17. Write a Pandas program to get the items which are not common of two given series.

In [130]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
## First Method 
res1 = sr1[~sr1.isin(sr2)]
res2 = sr2[~sr2.isin(sr1)]
print(res1.append(res2))
## Second Method 
sr11 = pd.Series(np.union1d(sr1, sr2))
#print(sr11)
sr22 = pd.Series(np.intersect1d(sr1, sr2))
#print(sr22)
result = sr11[~sr11.isin(sr22)]
result

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

### 18.Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [135]:
num_state = np.random.RandomState(100)
num_ser=pd.Series(num_state.normal(10,4,20))
result = np.percentile(num_ser, q=[0, 25, 50, 75, 100])
result

array([ 3.00093811,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [143]:
np.random.RandomState(100)
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print(num_series.value_counts())

7    7
6    6
3    5
9    5
0    4
1    4
5    3
2    3
8    2
4    1
dtype: int64

### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [148]:
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
num_series

0     3
1     1
2     3
3     2
4     3
5     3
6     1
7     3
8     3
9     4
10    4
11    4
12    2
13    3
14    1
dtype: int32
Top 2 Freq: 3    7
4    3
1    3
2    2
dtype: int64

0         3
1     Other
2         3
3     Other
4         3
5         3
6     Other
7         3
8         3
9     Other
10    Other
11    Other
12    Other
13        3
14    Other
dtype: object

### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [166]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.argwhere(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    4
1    5
2    2
3    1
4    8
5    1
6    4
7    6
8    4
dtype: int32

ValueError: Length of passed values is 1, index implies 9.

In [167]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

### 22.Write a Pandas program to extract items at given positions of a given series.

In [173]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
#print("Original Series:")
#print(num_series)
result = num_series.take(element_pos)
result

0     2
2     9
6     8
11    0
21    3
dtype: object

### 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [176]:
se1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
se2 = pd.Series([1, 3, 5, 7, 10])
result = [pd.Index(se1).get_loc(i) for i in se2]
result

[0, 2, 4, 6, 9]

### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [183]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
result

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [185]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
result = series1.map(lambda x: len(x))
result

0    3
1    6
2    4
3    2
dtype: int64

### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [189]:
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
result = series1.diff().diff().tolist()
result

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

### 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [190]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
pd.to_datetime(date_series)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [205]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series = date_series.map(lambda x: parse(x))
#print(date_series)
print("Day of month:", date_series.dt.day.tolist())
print("Day of Year:", date_series.dt.dayofyear.tolist())
print("Week Number:", date_series.dt.weekofyear.tolist())
print("Day of week:", date_series.dt.day_name().tolist())

Day of month: [1, 2, 7, 6, 12, 6]
Day of Year: [1, 276, 66, 126, 103, 96]
Week Number: [1, 39, 10, 19, 15, 14]
Day of week: ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

### 29.Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [208]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
result = date_series.map(lambda d: parse('11 ' + d))
result

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

### 30.Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [211]:
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
color_series[result]

1     Green
2    Orange
4    Yellow
5     White
dtype: object

#### Example working on Counter module 
Python Counter takes in input a list, tuple, dictionary, string, which are all iterable objects, and it will give you output that will have the count of each element.

In [217]:
list1 = ['x','y','z','x','x','x','y', 'z']
print(Counter(list1))

my_str = "Welcome to Guru99 Tutorials!"
print(Counter(my_str))

dict1 =  {'x': 4, 'y': 2, 'z': 2, 'z': 2, 'y': 2, 'z': 2, 'z': 2}
print(Counter(dict1))

tuple1 = ('x','y','z','x','x','x','y','z')
print(Counter(tuple1))

Counter({'x': 4, 'y': 2, 'z': 2})
Counter({'o': 3, ' ': 3, 'u': 3, 'e': 2, 'l': 2, 't': 2, 'r': 2, '9': 2, 'W': 1, 'c': 1, 'm': 1, 'G': 1, 'T': 1, 'i': 1, 'a': 1, 's': 1, '!': 1})
Counter({'x': 4, 'y': 2, 'z': 2})
Counter({'x': 4, 'y': 2, 'z': 2})

#### Arithmetic operation on Python Counter

In [218]:
from collections import Counter
counter1 =  Counter({'x': 4, 'y': 2, 'z': -2})
counter2 = Counter({'x1': -12, 'y': 5, 'z':4 })

#Addition
counter3 = counter1 + counter2 # only the values that are positive will be returned.
print(counter3)

#Subtraction
counter4 = counter1 - counter2 # all -ve numbers are excluded.For example z will be z = -2-4=-6, since it is -ve value it is not shown in the output
print(counter4)

#Intersection
counter5 = counter1 & counter2 # it will give all common positive minimum values from counter1 and counter2
print(counter5)

#Union
counter6 = counter1 | counter2 # it will give positive max values from counter1 and counter2
print(counter6)

Counter({'y': 7, 'x': 4, 'z': 2})
Counter({'x1': 12, 'x': 4})
Counter({'y': 2})
Counter({'y': 5, 'x': 4, 'z': 4})

### 31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia, In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

In [220]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
#print("Original series:")
#print(x)
#print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Euclidean distance between two said series:
16.492422502470642

### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [222]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [232]:
ser = pd.Series(list('abc def abcdef icd'))
ele_fre = ser.value_counts()
least_freq = ele_fre.dropna().index[-1]
result = "".join(ser.replace(' ',least_freq))
result

'abcidefiabcdefiicd'

### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.

Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

In [240]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
num_series
autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
autocorrelations[1:]

[0.38, 0.12, 0.15, 0.29, 0.12, 0.18, -0.44, -0.66, 0.19, 0.81]

In [237]:
np.arange(15) + np.random.normal(1, 10, 15)

array([-11.80835568,  11.85957592,   4.79319363,   2.20705525,
         7.1560097 ,  -8.52866387,  12.08316509,  28.8337887 ,
        11.50704719,  18.02293884,  17.09540332,  -1.96109441,
        11.41772775,  16.39718832,  20.32395867])

### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [243]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
result

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [253]:
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(18)
num_dict = dict(zip(char_list, num_arra))
num_ser = pd.Series(num_dict)
num_ser
df = num_ser.to_frame().reset_index()
df

   index   0
0      A   0
1      B   1
2      C   2
3      D   3
4      E   4
5      F   5
6      G   6
7      H   7
8      I   8
9      J   9
10     K  10
11     L  11
12     M  12
13     N  13
14     O  14
15     P  15

#### Zip Function-Definition and Usage
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

### 37. Write a Pandas program to stack two given series vertically and horizontally.

In [262]:
series1 = pd.Series(range(10))
series2 = pd.Series(list('pqrstuvwxy'))
dfh = pd.concat([series1, series2], axis=1)
print("\nStack two given series horizontally:")
print(dfh)
dfv = pd.concat([series1, series2], axis=0)
print("\nStack two given series vertically:")
print(dfv)

Stack two given series horizontally:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

Stack two given series vertically:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

### 38. Write a Pandas program to check the equality of two given series.

In [264]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original Series:")
print(nums1)
print(nums2)
print("Check 2 series are equal or not?")
print(nums1 == nums2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [268]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, -9, 0])
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Index of the first occurrence of the smallest and largest value of the said series:
8
4

### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [272]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True

## Python | Pandas dataframe.ne()
Pandas dataframe.ne() function checks for inequality of a dataframe element with a constant, series or other dataframe element-wise. If two values in comparison are not equal to each other, it returns a true else if they are equal it returns false.