In [1]:
import pandas as pd
import numpy as nd

### 1. Write a Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.

In [3]:
w_a_con = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(w_a_con.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',w_a_con.shape[0])
print('\nNumber of column: ',w_a_con.shape[1])
print("\nExtract Column Names:")
print(w_a_con.columns.tolist())

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

Extract Column Names:
['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value']

### 2. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset.

In [4]:
print("\nSelect first 2 rows:")
print(w_a_con.iloc[:2])
print("\nSelect first 2 columns:")
print(w_a_con.iloc[:,:2].head())
print("\nSelect 2 specific columns:")
print(w_a_con[['Display Value', 'Year']])

Select first 2 rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

Select first 2 columns:
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

Select 2 specific columns:
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

### 3. Write a Pandas program to select random number of rows, fraction of random rows from World alcohol consumption dataset.

In [6]:
print("\nSelect random number of rows:")
print(w_a_con.sample(5))
print("\nSelect fraction of randome rows:")
print(w_a_con.sample(frac=0.02))

Select random number of rows:
    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82
18  1984     Europe          Norway        Spirits           1.62
57  1989     Europe         Croatia           Wine           5.10
16  1984   Americas      Costa Rica           Wine           0.06
71  1985     Africa            Mali          Other           0.57

Select fraction of randome rows:
    Year WHO region  Country Beverage Types  Display Value
47  1986   Americas   Mexico          Other           0.04
1   1986   Americas  Uruguay          Other           0.50

### 4.Write a Pandas program to find and drop the missing values from World alcohol consumption dataset.

In [7]:
print("\nMissing values:")
print(w_a_con.isnull())
print("\nDropping the missing values:")
print(w_a_con.dropna())

Missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

Dropping the missing values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

### 5. Write a Pandas program to remove the duplicates from 'WHO region' column of World alcohol consumption dataset.

In [14]:
print("\nAfter removing the duplicates of WHO region column:")
print(w_a_con.drop_duplicates('WHO region'))

After removing the duplicates of WHO region column:
    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

### 6. Write a Pandas program to find out the alcohol consumption of a given year from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details in the year 1985:")
print(w_a_con[w_a_con['Year']==1985].head(10))
print("\nThe world alcohol consumption details in the year 1989:")
print(w_a_con[w_a_con['Year']==1989].head(10))

### 7. Write a Pandas program to find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details where year is 1987 or 1989:")
print((w_a_con[(w_a_con['Year']==1987) | (w_a_con['Year']==1989)]).head(10))

### 8. Write a Pandas program to find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details by the Americas in the 1985:")
print(w_a_con[(w_a_con['Year']==1989) & (w_a_con['WHO region']=='Americas')].head(10))

### 9. Write a Pandas program to find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :")
print(w_a_con[(w_a_con['Year']==1986) & (w_a_con['WHO region']=='Western Pacific') & (w_a_con['Country']=='Viet Nam')])

### 10. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :")
print(w_a_con[((w_a_con['Year']==1986) | (w_a_con['Year']==1989))  & (w_a_con['WHO region']=='Americas')].head(10))

### 11. Write a Pandas program to find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(w_a_con[((w_a_con['Year']==1985) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas') | (w_a_con['WHO region']=='Europe'))].head(10))

### 12. Write a Pandas program to find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details ('WHO region','Country','Beverage Types') \nin the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(w_a_con[((w_a_con['Year']==1985) | (w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas') | (w_a_con['WHO region']=='Europe'))][['WHO region','Country','Beverage Types']].head(10))

### 13. Write a Pandas program to find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.

In [ ]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=5 and Beverage Types is Beer:")
print(w_a_con[(w_a_con['Display Value'] >= 5) & (w_a_con['Beverage Types'] == 'Beer')].head(10))

### 14. Write a Pandas program to find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.

In [13]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=4 and Beverage Types is Beer:")
print(w_a_con[(w_a_con['Display Value'] >= 4) & ((w_a_con['Beverage Types'] == 'Beer') | (w_a_con['Beverage Types'] == 'Wine')| (w_a_con['Beverage Types'] == 'Spirits'))].head(10))

The world alcohol consumption details: average consumption of
beverages per person >=4 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

### 15. Write a Pandas program to filter the specified columns and records by range from world alcohol consumption dataset.

In [ ]:
print("\nFiltering records by label or index:")
print(w_a_con.loc[0:4, ["WHO region", "Beverage Types"]])

### 16. Write a Pandas program to filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.

In [ ]:
new_w_a_con = w_a_con.dropna() # dropping 
print("\nMatch if  a given column has a particular sub string:")
print(new_w_a_con[new_w_a_con["WHO region"].str.contains("Ea")])

### 17. Write a Pandas program to filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset.

In [ ]:
print("\nFilter by matching multiple values in a given dataframe:")
flt_wine = new_w_a_con["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(new_w_a_con[flt_wine])

### 18. Write a Pandas program to filter those records which not appears in a given list from world alcohol consumption dataset.

In [ ]:
print("\nSelect all rows which not appears in a given list:")
who_region = ["Africa", "Eastern Mediterranean", "Europe"]
flt_wine = ~new_w_a_con["WHO region"].isin(who_region)
print(new_w_a_con[flt_wine])

### 19. Write a Pandas program to filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol consumption dataset.

In [ ]:
print("\nFilter all records where the average consumption of beverages per person from .5 to 2.50.:")
print(w_a_con[(w_a_con['Display Value'] < 2.5) & (w_a_con['Display Value']>.5)].head())

### 20. Write a Pandas program to find average consumption of wine per person greater than 2 in world alcohol consumption dataset

In [ ]:
print("\nAverage consumption of wine per person greater than 2:")
print(w_a_con[(w_a_con['Beverage Types'] == 'Wine') & (w_a_con['Display Value'] > .2)].count())

### 21. Write a Pandas program to filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset.

In [12]:
print("\nFilter rows based on row numbers ended with 0, like 0, 10, 20, 30:")
print(w_a_con.filter(regex='0$', axis=0))

Filter rows based on row numbers ended with 0, like 0, 10, 20, 30:
    Year             WHO region                     Country Beverage Types  \
0   1986        Western Pacific                    Viet Nam           Wine
10  1987                 Africa                    Botswana           Wine
20  1986        South-East Asia                     Myanmar           Wine
30  1986                 Africa                Sierra Leone          Other
40  1987                 Europe                     Austria        Spirits
50  1985                 Europe                 Switzerland          Other
60  1987  Eastern Mediterranean  Iran (Islamic Republic of)          Other
70  1986                 Africa                  Madagascar        Spirits
80  1985                 Africa                      Malawi          Other
90  1989                 Africa                      Malawi           Wine

    Display Value
0            0.00
10           0.20
20           0.00
30           4.48
40           1.90
50           0.30
60           0.00
70           1.02
80           0.84
90           0.01

### 22. Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [ ]:
print("\nSelect consecutive columns:")
print(w_a_con.loc[:,"Country":"Display Value"].head())
print("\nAlternate command:")
print(w_a_con.iloc[:,2:5].head())
print("\nSelect rows with Index label 0 to 9 with specific columns:")
print(w_a_con.loc[0:9,["Year","Country","Display Value"]])

### 23. Write a Pandas program to rename all and only some of the column names from world alcohol consumption dataset.

In [ ]:
print("\nRename all the column names:")
w_a_con.columns = ['year','who_region','country','beverage_types','display_values']
print(w_a_con.head())
print("\nRenaming only some of the column names:")
new_w_a_con.rename(columns = {"WHO region":"WHO_region","Display Value":"Display_Value" },inplace = True)
print(new_w_a_con.head())

### 24. Write a Pandas program to find which years have all non-zero values and which years have any non-zero values from world alcohol consumption dataset.

In [11]:
print("\nFind which years have all non-zero values:")
print(w_a_con.loc[:,w_a_con.all()])
print("\nFind which years have any non-zero values:")
print(w_a_con.loc[:,w_a_con.any()])

Find which years have all non-zero values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Find which years have any non-zero values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]

### 25. Write a Pandas program to filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset.

In [10]:
print("\nFind  all columns which all entries present:")
print(w_a_con.loc[:, w_a_con.notnull().all()])
print("\nRows and columns has a NaN:")
print(w_a_con.loc[:,w_a_con.isnull().any()])
print("\nDrop rows with any NaNs:")
print(w_a_con.dropna(how='any'))

Find  all columns which all entries present:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Rows and columns has a NaN:
    Display Value
0            0.00
1            0.50
2            1.62
3            4.27
4            1.98
..            ...
95           0.00
96           7.38
97           0.00
98           0.00
99           0.00

[100 rows x 1 columns]

Drop rows with any NaNs:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

### 26. Write a Pandas program to filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.

In [9]:
print("\nFrom the 'Year' column, access every other column:")
print(w_a_con.loc[:,'Year'::2].head(10))
print("\nAlternate solution:")
print(w_a_con.iloc[:,0::2].head(10))

From the 'Year' column, access every other column:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

Alternate solution:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

### 27. Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset.

In [8]:
print("\nStarting from the 2nd row, access every 5th row:")
print(w_a_con.iloc[1::5].head(10))

Starting from the 2nd row, access every 5th row:
    Year             WHO region  \
1   1986               Americas
6   1987                 Africa
11  1989               Americas
16  1984               Americas
21  1989               Americas
26  1985                 Europe
31  1986        Western Pacific
36  1987  Eastern Mediterranean
41  1986                 Europe
46  1987               Americas

                                              Country Beverage Types  \
1                                             Uruguay          Other
6                                           Mauritius           Wine
11                                          Guatemala           Beer
16                                         Costa Rica           Wine
21                                         Costa Rica        Spirits
26  United Kingdom of Great Britain and Northern I...           Wine
31                   Micronesia (Federated States of)           Wine
36                                              Egypt           Beer
41                                     Czech Republic           Beer
46                                Trinidad and Tobago        Spirits

    Display Value
1            0.50
6            0.13
11           0.62
16           0.06
21           4.51
26           1.36
31           0.00
36           0.07
41           6.82
46           2.26